    /*ronaldo*/
    
    .bodys{
        background-color:wheat
    }

    #ronPar{
        background-color: chocolate;
    }
    #messiB{
        background-color: aqua;
    }

    
    .Font{
        font-family: "press Start 2P";
    }
    #player{
        border-style:ridge ;
        border-width: 7px;
        border-color: rgb(146, 30, 53);
     }      
    button{
        margin:8px;
        height: 80px;
        width: 100px;
    }
    #goBack{
        height: 20px;
        width: 80px;
    }