    /*ronaldo*/
    
    .bodys{
        background-color:wheat
    }

    #ronPar{
        background-color: chocolate;
    }
    #messiB{
        background-color: aqua;
    }

    
    .Font{
        font-family: "press Start 2P";
    }
    #player{
        border-style:ridge ;
        border-width: 7px;
        border-color: rgb(146, 30, 53);
     }      
    button{
        margin: 1%;
        height:7em;
        width:15em;
        
    }
    #goBack{
        height: 20px;
        width: 80px;
    }

    p{
       text-align: justify;
       margin: 3%;
       padding: 2%;
    }
    #Won{
        visibility: hidden;
    }