    /*ronaldo*/
    
    .bodys{
        background-color:wheat
    }

    #ronPar{
        background-color: chocolate;
    }
    #messiB{
        background-color: aqua;
    }

    
    .Font{
        font-family: "press Start 2P";
    }
    #player{
        border-style:ridge ;
        border-width: 7px;
        border-color: rgb(146, 30, 53);
     }      
    button{
        margin: 1%;
        height:7em;
        width:15em;
        
    }
    #goBack{
        height: 20px;
        width: 80px;
    }

    p{
       text-align: justify;
       margin: 3%;
       padding: 2%;
    }
    #Won{
        visibility: hidden;
    }

    .dynamicImages {
        width: 50px; 
        height: 70px; 
        border: 5px solid black; 
        
    }
    .imageContainer {
        display:flex;
        justify-content: center; 
        gap: 20px; 
        margin-top:50px; 
    }
    
    .imageContainer p {
        margin: 0; /* Add space between the text and the image */
        font-size: 15px; /* Adjust the font size */
        font-family: "Press Start 2P", sans-serif; /* Match the font style */
    }